@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url(//db.onlinewebfonts.com/c/1e774fab62bd6acf2ac7a7079b3fc57f?family=Comfortaa);

/* 

primary color: #4fb6d9
secondary color: #f0e1d7 

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(240, 225, 215);
  color: #fff;
  opacity: 0.95;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 100px;
}

.navbar a {
  color: #333;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: rgb(79, 182, 217) 2px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
}

/* Header */
.hero {
  background: url("../image/home/pexels-luciann-photography-3566187.jpg")
    no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
  /* opacity: 0.5; */
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.hero .content h1 {
  font-size: 55px;
  font-weight: 500;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(79, 182, 217, 0.6); */

  background: radial-gradient(
    circle,
    rgba(13, 70, 89, 0.6) 20%,
    rgba(79, 182, 217, 0.6) 80%
  );
}

.hero * {
  z-index: 10;
}

/* Icons */

.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #4fb6d9;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

.cases img:hover {
  opacity: 0.7;
}

/* .flex-grid .column img {
  height: unset;
} */
